@use './../../sass/variables' as v;

.header {
  padding: 2.5rem 2rem;

  &__nav {
    position: relative;

    &__check {
      display: none;

      &:checked ~ {
        .header__nav__label {
          z-index: 1;
        }

        .header__nav__ul {
          height: 80vh;
        }

        ul {
          top: -60px;
        }
      }

      &:checked ~ .header__nav__label .header__nav__label__img__open {
        display: none;
      }

      &:checked ~ .header__nav__label .header__nav__label__img__close {
        display: inline-block;
      }

      &:checked ~ .header__nav__img svg g:nth-child(1) path {
        fill: #fff;
        transition: all 0.5s ease-in;
      }

      &:checked ~ .header__nav__img svg g:nth-child(2) > circle {
        fill: #fff;
        transition: all 0.5s ease-in;
      }

      &:checked ~ .header__nav__img svg g:nth-child(2) > path {
        fill: #5267df;
        transition: all 0.5s ease-in;
      }
    }

    &__img {
      z-index: 1;
      display: inline-block;
      position: absolute;
    }

    &__label {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
      padding-top: 0.2rem;

      &__img__close {
        display: none;
      }
    }

    &__ul {
      .containerLi {
        width: 100%;
      }

      align-items: center;
      background-color: v.$Very-Dark-Blue-Menu;
      display: flex;
      flex-direction: column;
      height: 0;
      left: -32px;
      list-style: none;
      overflow: hidden;
      position: absolute;
      padding: 100px 32px;
      top: -500px;
      transition: all 0.8s ease-in;
      width: 100%;
      justify-content: space-between;

      &__li a {
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 18px;
      }

      &__li {
        padding: 1rem 0;
        border-bottom: 1px solid v.$Grayish-Blue;
        width: 100%;
        text-align: center;

        &:nth-child(1) {
          border-top: 1px solid v.$Grayish-Blue;
        }
      }
    }

    .li__button {
      border: none;

      button {
        width: 100%;
        background-color: unset;
        border: 2px solid #fff;
        border-radius: 4px;
        height: 2.75rem;
        text-transform: uppercase;
        color: #fff;
        font-weight: 500;
        letter-spacing: 4px;
        text-align: center;
      }
    }

    .containerIcons {
      display: flex;
      gap: 2.5rem;
      align-items: center;
    }
  }
}
