@use './../../sass/variables' as v;
@use './../../sass/mixins' as m;

.header {
  padding: 2.5rem 2rem;

  @media only screen and (min-width: 768px) {
    padding: 1.7rem 5rem;
  }

  @media only screen and (min-width: 1200px) {
    padding: 3.5rem 10rem;
  }

  &__nav {
    position: relative;

    @media only screen and (min-width: 992px) {
      display: flex;
      align-items: center;
    }

    &__check {
      display: none;

      &:checked ~ {
        .header__nav__label {
          z-index: 2;
        }

        .header__nav__ul {
          height: 100vh;
        }

        ul {
          top: -40px;
        }

        .header__nav__img {
          z-index: 2;
        }
      }

      &:checked ~ .header__nav__label .header__nav__label__img__open {
        display: none;
      }

      &:checked ~ .header__nav__label .header__nav__label__img__close {
        display: inline-block;
      }

      &:checked ~ .header__nav__img svg g:nth-child(1) path {
        fill: #fff;
        transition: all 0.5s ease-in;
      }

      &:checked ~ .header__nav__img svg g:nth-child(2) > circle {
        fill: #fff;
        transition: all 0.5s ease-in;
      }

      &:checked ~ .header__nav__img svg g:nth-child(2) > path {
        fill: #5267df;
        transition: all 0.5s ease-in;
      }
    }

    &__img {
      z-index: 1;
      display: inline-block;
      position: absolute;

      @media only screen and (min-width: 992px) {
        z-index: 0;
        position: relative;
      }
    }

    &__label {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
      padding-top: 0.2rem;
      cursor: pointer;

      &__img__close {
        display: none;
      }

      @media only screen and (min-width: 992px) {
        display: none;
      }
    }

    &__ul {
      align-items: center;
      background-color: v.$Very-Dark-Blue-Menu;
      display: flex;
      flex-direction: column;
      height: 0;
      justify-content: space-between;
      left: -32px;
      list-style: none;
      overflow: hidden;
      position: absolute;
      padding: 100px 32px;
      top: -500px;
      transition: all 0.8s ease-in;
      width: 100vw;
      z-index: 1;

      @media only screen and (min-width: 768px) {
        left: -81px;
      }

      @media only screen and (min-width: 992px) {
        position: relative;
        top: 0;
        background-color: unset;
        z-index: unset;
        left: unset;
        width: 100%;
        overflow: unset;
        padding: unset;
        transition: unset;
        flex-direction: row;
      }

      &__li a {
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 18px;

        @media only screen and (min-width: 992px) {
          color: v.$Very-Dark-Blue;
          font-size: 0.75rem;
          letter-spacing: 2px;

          &:hover {
            color: v.$Soft-Red;
          }
        }
      }

      &__li {
        padding: 1rem 0;
        border-bottom: 1px solid v.$Grayish-Blue;
        width: 100%;
        text-align: center;

        @media only screen and (min-width: 992px) {
          border-bottom: unset;
          width: unset;
        }

        &:nth-child(1) {
          border-top: 1px solid v.$Grayish-Blue;

          @media only screen and (min-width: 992px) {
            border-top: unset;
          }
        }
      }
    }

    .containerLi {
      width: 100%;
      display: flex;
      flex-direction: column;

      @media only screen and (min-width: 992px) {
        align-items: center;
        justify-content: flex-end;
        gap: 2.875rem;
        flex-direction: row;
      }
    }

    .li__button {
      border: none;

      button {
        width: 100%;
        background-color: unset;
        border: 2px solid #fff;
        border-radius: 4px;
        height: 2.75rem;
        text-transform: uppercase;
        color: #fff;
        font-weight: 500;
        letter-spacing: 4px;
        text-align: center;
        border-color: v.$Soft-Red;
        cursor: pointer;

        @media only screen and (min-width: 992px) {
          background-color: v.$Soft-Red;
          padding: 1rem 2rem;
          font-size: 0.75rem;
          font-weight: 500;
          letter-spacing: 2px;
          border-radius: 8px;
          box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.5);

          &:hover {
            background-color: #fff;
            color: v.$Soft-Red;
          }
        }
      }
    }

    .containerIcons {
      display: flex;
      gap: 2.5rem;
      align-items: center;

      @media only screen and (min-width: 992px) {
        display: none;
      }
    }
  }
}
