@use './variables' as v;

@mixin side-padding {
  padding: 0 2.46rem;
}

@mixin title($font-size: 1.5rem) {
  font-size: $font-size;
  text-align: center;
  font-weight: 500;
  color: v.$Very-Dark-Blue;
}

@mixin text($color-text, $size) {
  line-height: 1.6;
  text-align: center;
  color: $color-text;
  font-size: $size;
}

@mixin button-browser($bg, $color-text, $width-button: 9.375rem) {
  height: 3rem;
  width: $width-button;
  background-color: $bg;
  color: $color-text;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  font-size: 0.875rem;
  box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.5);
}
