@use 'variables' as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: v.$font-family-Rubik;
}

body {
  margin: 0 auto;
  max-width: 90rem;
  font-size: 16px;
}

.disable-scroll {
  overflow: hidden;
}
